@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



@import "media"; // Always at the end

body{
    font-family: "Open Sans";
}
.header{
	margin: auto;
	width: 1172px;
	height: 774;
	border: 4px double black;
}
.header_menu{
	border: 4px double black;
	width: 700px;
	text-align: right;
	margin-left: 450px;
}
.header_menu_ul li{
	display: inline; 
}
.preview{
	border: 4px double black;
	text-align: center;	
	background: url(../img/header-background.jpg);
	background-size: cover;
	height: 652px;
	color: #ffffff;
}
.opacity{
	height: 652px;
	background: rgba(0,0,0,0.6);
	position: cover;
}
.lupa{
	border: 0px;
}




/*Украсть эту кнопку для сайта*/
a.knopka {
  color: #ffffff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #00897b; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: #1fd149; } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0); } /* при нажатии */
