@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



@import "media"; // Always at the end

body{
    font-family: "Open Sans";
}
.h1{
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 22px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}
.zagolovok{
	padding: 100px;
	text-align: center;
}
.zagolovok span{
	width: 641px;
	height: 52px;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 22px;
}

.header{
	margin: auto;
	width: 1400px;
	height: 782px;
	border: 4px double black;
	margin: auto;
}
.header_menu{
	border: 4px double black;
	width: 700px;
	text-align: right;
	margin-left: 450px;
}
.header_menu_ul li{
	display: inline; 
}
.preview{
	text-align: center;	
	background: url(../img/header-background.jpg);
	background-size: cover;
	color: #ffffff;
}
.opacity{
	height: 782px;
	background: rgba(0,0,0,0.6);
	position: cover;
}
.lupa{
	border: 0px;
}
.about_us{
	margin: auto;
	width: 1400px;
	height: 672px;
	background-color: #ffffff;
	text-align: center;
}
.about_us li{
	list-style-type: none;
}
.our_services{
	width: 1400px;
	height: 1414px;
	background-color: #e3fdf9;
	margin: auto;
	text-align: center;
	margin: auto;
}
.our_services li{
	list-style-type: none;
}
.our_services button{
	width: 150px;
	height: 55px;
	background-color: #fff;
	border: 2px solid #212121;
}
.service_block{
	width: 370px;
	height: 438px;
	background-color: #ffffff;
	display: inline-block;
	margin: 15px 15px 15px 15px;
	padding: 58px;
}
.latest_works{
	margin: auto;
	width: 1400px;
	height: 1616px;
	background-color: #ffffff;
	text-align: center;
}
.latest_works li{
	list-style-type: none;
}
.pricing_plan{
	margin: auto;
	width: 1400px;
	height: 1142px;
	background-color: rgba(6,12,11,0.2);
	text-align: center;
}
.pricing_plan li{
	list-style-type: none;
}
.pricing_plan hr{
	width: 178px;
	height: 1.2px;
	background-color: rgba(0,0,0,0.5);
	border: none;
	margin-bottom: 35px;
}
.header_pricing{
	width: 370px;
	height: 209px;
	background: #3949ab;
	display:block;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 79%, 0 100%);
	color: #ffffff;
	margin-bottom: 20px;
	padding: 50px;
}

.block_left{
	width: 370px;
	height: 667px;
	background-color: #ffffff;
	display: inline-block;
	margin-right: 15px;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #212121;
	font-weight: 300;
	text-align: center;
}
.block_left:hover{
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
	 box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
}
.block_left span{
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}
.block_left button{
	width: 180px;
	height: 60px;
	background-color: #ffffff;
	border: 2px solid #000000;
	margin-top: 15px;
}
.block_left button:hover{
	width: 180px;
	height: 60px;
	background-color: #00897b;
	border: none;
	color: #ffffff;
	font-size: 20px;
}
.block_center{
	width: 370px;
	height: 667px;
	background-color: #ffffff;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #212121;
	font-weight: 300;
	text-align: center;
}

.block_center span{
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}
.block_center button{
	width: 180px;
	height: 60px;
	background-color: #ffffff;
	border: 2px solid #000000;
	margin-top: 15px;
}
.block_center button:hover{
	width: 180px;
	height: 60px;
	background-color: #00897b;
	border: none;
	color: #ffffff;
	font-size: 20px;
}
.block_center:hover{
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
	 box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
}
.block_right{
	width: 370px;
	height: 667px;
	background-color: #ffffff;
	display: inline-block;
	margin-left: 15px;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #212121;
	font-weight: 300;
	text-align: center;
}
.block_right:hover{
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
 	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 0px rgba(0, 0, 0, 0.3); 
	 box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.3), 0 1px 0px rgba(0, 0, 0, 0.1); 
}
.block_right span{
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}
.block_right button{
	width: 180px;
	height: 60px;
	background-color: #ffffff;
	border: 2px solid #000000;
	margin-top: 15px;
	font-size: 20px;
}
.block_right button:hover{
	width: 180px;
	height: 60px;
	background-color: #00897b;
	border: none;
	color: #ffffff;
}
.block_right :hover{
	
}
.our_team_member{
	margin: auto;
	width: 1400px;
	height: 1095px;
	background-color: #ffffff;
	text-align: center;
}
.our_team_member li{
	list-style-type: none;
}
.blog{
	margin: auto;
	width: 1400px;
	height: 1869px;
	background-color: #e3fdf9;
}
.contact_us{
	background: url(../img/layer0.jpg) no-repeat;
	background-size: cover;
	margin: auto;
	width: 1400px;
	height: 1254px;
	background-color: #212121;
	text-align: center;
	color: #ffffff;
}
.opacity2{
	height: 1254px;
	background: rgba(34, 32, 32, 0.877);
	position: cover;
}
.contact_us li{
	list-style-type: none;
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
	margin: 0 135px 0px 100px;
}
.contact_us figcaption{
	padding-top: 35px;
}

.contact_us_text_1{
	margin-top: 50px;
	margin-right: 15px;
	margin-left: 15px;
	width: 500px;
	height: 84px;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 20px;
}
.contact_us_text_2{
	margin-top: 30px;
	width: 1031px;
	height: 323px;
	border-radius: 10px;
	background-color: #ffffff;
	resize: none;
	padding: 20px;
}
.contact_us button{
	width: 220px;
	height: 70px;
	border-radius: 10px;
	background-color: #ffffff;
	margin-top: 20px;
	margin-right: -810px;
	/*Параметры текста*/
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #212121;
	font-weight: bold;
	text-align: center;
}

.footer{
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 22px;
	color: #212121;
	font-family: "Roboto";
	font-weight: bold;
	text-align: center;
	width: 1400px;
	height: 60px;
	margin: auto;
	padding: 1em;
}

/*Украсть эту кнопку для сайта*/
a.knopka {
  color: #ffffff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #00897b; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: #00898a; } /* при наведении курсора мышки */
a.knopka:active { background: rgb(9, 193, 226); } /* при нажатии */
